# -*- coding: UTF-8 -*-
#
# Dokumentacija o "re" python modulu i sintaksi: https://docs.python.org/3.6/library/re.html
# 
# Sintaksa unosa definicija je sledeća: Find="asdf" Replace="ASDF" IgnoreCase
# Unose se dva elementa Find="" i Replace="", razdvojeni spejsom. 
# I opciono treći element "IgnoreCase", ako je potrebno da se tokom pretrage ignoriše razlika između malog i velikog slova.
# "Multiline search" je po difoltu.
#
# Primer: Find="\[[^]]*\]"   Replace=""  će obrisati sve četvrtaste zagrade i sadržaj unutar zagrada u učitanom tekstu.
#         Find="^\s*(?<=.)"  Replace=""  će pronaći spejseve na početku linije.
#         Find="^-+(?<=$)"    crtica na početku prazne linije
#
#


Find=""  Replace=""

#Find="\[[^]]*\]"   Replace=""
Find="^\s*(?<=.)"   Replace=""   # Spejs na početku linije
Find="^-+(?<=$)"    Replace=""

Find="Angle\s"
Find="(?=.)[\t ]*$" Replace=""  # Spejs i tab na kraju linije